<style type="text/css">

	.header {
		background: #3aaa35;
	}

	.header .wrapper-inner {
		padding: 16px 16px 0 16px;
	}

	.header .container {
		background: transparent;
	}

	p {
		margin: 0;
	}

	.label {
		background-color: #b3b3b3;
	}

	.label-text {
		color: #fff;
	}

	.content {
		background-color: #fff;
	}

	th.no-padding {
		padding-bottom: 0;
	}

	th.on-padding {
		padding: 6px 0;
	}

	th.arrow {
		padding-left: 0;
	}

</style>

<wrapper class="header">
	<container>
		<row class="content">

			<columns large="4" valign="middle" class="show-for-large no-padding on-padding label">
				<p class="label-text">Контактный телефон</p>
			</columns>

			<columns large="1" valign="middle" class="show-for-large no-padding arrow">
				<img src="https://lider-group.pro/img/email/arrow_gray.png" alt="">
			</columns>

			<columns small="12" large="7" valign="middle" class="no-padding on-padding">
				<p class="text-right">+7 (982) 83-86-444</p>
			</columns>

		</row>

		<spacer size="16"></spacer>

		<row class="content">
			<columns large="4" valign="middle" class="show-for-large no-padding on-padding label">
				<p class="label-text">Приемная</p>
			</columns>

			<columns large="1" valign="middle" class="show-for-large no-padding arrow">
				<img src="https://lider-group.pro/img/email/arrow_gray.png" alt="">
			</columns>

			<columns small="12" large="7" valign="middle" class="no-padding on-padding">
				<p class="text-right">+7 (3412) 77-56-04</p>
			</columns>
		</row>

		<spacer size="16"></spacer>

		<row class="content">
			<columns large="4" valign="middle" class="show-for-large no-padding on-padding label">
				<p class="label-text">e-mail</p>
			</columns>

			<columns large="1" valign="middle" class="show-for-large no-padding arrow">
				<img src="https://lider-group.pro/img/email/arrow_gray.png" alt="">
			</columns>

			<columns small="12" large="7" valign="middle" class="no-padding on-padding">
				<p class="text-right">office@lider-group.pro</p>
			</columns>
		</row>

		<spacer size="16"></spacer>

	</container>
</wrapper>
