<style type="text/css">
	.header {
		background: #3aaa35;
	}
	
	.header .wrapper-inner {
		padding: 16px 16px 0 16px;
	}
	
	.header .container {
		background: transparent;
	}
</style>

<wrapper class="header">
	<container>
		<row>
			<columns large="6">
				<h4>Контакты</h4>
				<row>
					<columns large="4">
						<p class="text-center">Приемная</p>
					</columns>
					<columns large="8">
						<p class="text-right">+7 (912) 555-55-55</p>
					</columns>
				</row>
			</columns>
			<columns large="6">
				<p class="text-right">BASIC</p>
			</columns>
		</row>
	</container>
</wrapper>