<style type="text/css">
	.head-recvise {
		font-size: 14px;
		margin: 0;
	}
	a > img {
		margin: 0;
	}
	.head-recvise small {
		font-size: 12px;
	}
	.line3 {
		height: 3px;
		margin: 0;
	}
	@media only screen and (max-width: 596px) {
		table.body img.line3 {
			height: 3px;
		}
		.head-recvise {
			font-size: 12px;
		}
		.head-recvise small {
			font-size: 80%;
		}
	}
</style>

<container>

	<spacer size="16"></spacer>

	<row>

		<columns small="6" large="6" valign="middle">
			<center>
				<a href="https://lider-group.pro/" target="_blank">
					<img class="float-left" src="https://lider-group.pro/img/email/logo_lg_lider.png">
				</a>
			</center>
		</columns>

		<columns small="6" large="6" valign="middle">
			<center>
				<p class="text-right head-recvise">
					<small>ИНН </small>1828016192<br>
					<small>КПП </small>183201001<br>
					<small>ОГРН </small>1071828000683
				</p>
			</center>
		</columns>

	</row>

	<row>
		<columns large="12">
			<img src="https://lider-group.pro/img/email/line.png" alt="" class="line3">
		</columns>
	</row>

</container>
