<style type="text/css">
	.head-recvise {
		font-size: 14px;
		margin: 0;
	}
	a > img {
		margin: 0;
	}
	.head-recvise small {
		font-size: 12px;
	}
	.line2 {
		height: 3px;
		margin: 0;
	}
</style>

<container>

		<spacer size="16"></spacer>

	<row>

		<columns large="6" valign="middle">
			<center>
				<a href="https://lider-group.pro/" target="_blank">
					<img src="https://lider-group.pro/img/logo.png">
				</a>
			</center>
		</columns>

		<columns large="6">
			<center>
				<p class="text-right head-recvise"><small>ИНН </small>1841040003</p>
				<p class="text-right head-recvise"><small>КПП </small>184101001</p>
				<p class="text-right head-recvise"><small>ОГРН </small>1141841001444</p>
			</center>
		</columns>

	</row>

</container>

<container>

	<row>
		<columns large="12">
			<img src="https://lider-group.pro/img/email/line.png" alt="" class="line2">
		</columns>
	</row>
	
</container>