<style type="text/css">
	.heght-line {
		height: 2px;
	}
</style>

<container>

		<spacer size="16"></spacer>

	<row>

		<columns large="6">
			<center>
				<a href="https://lider-group.pro/" target="_blank">
					<img src="https://lider-group.pro/img/logo.png">
				</a>
			</center>
		</columns>

		<columns large="6">
			<center>
				
			</center>
		</columns>

	</row>

</container>

<container class="heght-line">
	
	<row>

		<columns large="9"></columns>

		<columns large="1"></columns>

		<columns large="1"></columns>

		<columns large="1"></columns>
		
	</row>

</container>